<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Bookings</h1>
    <a class="button" th:href="@{/bookings/create}">Create New Booking</a>
    <table>
        <thead>
        <tr>
            <th>House Type</th>
            <th>House Address</th>
            <th>Customer Full Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.house.type}">House Type</td>
            <td th:text="${booking.house.address}">House Address</td>
            <td th:text="${booking.customer.fullName}">Customer Full Name</td>
            <td>
                <a class="button" th:href="@{/bookings/{id}(id=${booking.id})}">View</a>
                <a class="button" th:href="@{/bookings/delete/{id}(id=${booking.id})}">Delete</a
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>