<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Houses</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Houses</h1>
    <a class="button" th:href="@{/houses/create}">Create New House</a>
    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Address</th>
            <th>Agency</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="house : ${houses}">
            <td th:text="${house.type}">House Type</td>
            <td th:text="${house.address}">House Address</td>
            <td th:text="${house.agency.name}">Agency Name</td>
            <td>
                <a class="button" th:href="@{/houses/{id}(id=${house.id})}">View</a>
                <a class="button" th:href="@{/houses/delete/{id}(id=${house.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
